* {
    margin: 0;
    padding: 0;
}
input {
    outline: none;
}
.fl {
    float: left;
    position: relative;
}
.fr {
    float: right;
    position: relative;
}
.main {
    position: relative;
}
.bg li {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg .one {
    display:block;
}

.bg ul {
    height: 100%;
}
.verify {
    display:none;
}
.verify img {
    border-radius: 5px;
}

.bg .one {
    background: url("../images/1.jpg") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.bg .two {
    background: url("../images/2.jpg") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.bg .three {
    background: url("../images/3.jpg") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.bg .fore {
    background: url("../images/4.jpg") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.bg .five {
    background: url("../images/5.jpg") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.bg .six {
    background: url("../images/1.jpg") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.userForm {
    position: absolute;
    top: 220px;
    left: 50%;
    margin-left: -350px;
    width: 700px;
    height: 300px;
}
.userForm h1 {
    margin-bottom: 60px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}
.userForm input {
    width: 220px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: transparent;
}
.userForm span {
    position: absolute;
    left: 10px;
    top:14px;
    color: #fff;
    padding-right: 10px;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    border-right: 1px dashed #fff;
}
.userForm img {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -50px;
}
.userForm .bt {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -110px;
}
.userForm input {
    padding-left: 50px;
    color: #fff;
}
.verify {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -76px;
}
.bt input {
    padding: 0;
}
.bt input[type="text"] {
    width: 100px;
    box-sizing: border-box;
    padding-left: 14px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fff;
}